footer
  #footer.clearfix
    img(src="/images/logo_footer.png")#logo_footer
    p Based on the open source projects 
      a(href='https://github.com/romanmatiasko/reti-chess') Reti Chess
      , 
      a(href='https://github.com/jhlywa/chess.js/') chess.js
      , 
      a(href='http://nodejs.org/') Node
      &nbsp;& 
      a(href='http://jquery.com/') jQuery
      .
    p Chess pieces graphics by Author
    p Development and Design by 
      a(href='http://cau.li')  Cauli
    p Thanks for contributing with ideas and testing Tainan Tomaz