header.clearfix
  div
    a(href='/')
      img(src="/images/logo_header.png")#logo_header
      -if(username && username.length > 0)
        span.nav Hi,
        a.nav.unpadleft(href='/profile/#{username}')=username
          -if(rating)
          span.nav.rating , your rating is #{rating}
        a.nav.right.padright(href='/logout') logout