extends layout

block content

  include header.jade

  div#posLeft
    h1 join table
      div#room-list

  div#posRight
    h1 create new table
    div#form
      form#create_form
        label#name-of-room.main(for='nickname') name of the table
        input.textinput#room-name(placeholder='table name', maxlength='18')

        label.main choose the game mode

        div.list-holder
          div.list-item
             
            //- input.radio(id='consensus', type='radio', name='mode', value='1', checked)
            //- label.radio(for='consensus') consensus  
            //- br 
            input.radio(id='playorlose', type='radio', name='mode', value='2', checked)
            label.radio(for='playorlose') play or lose  
            //- br
            //- input.radio(id='pingpong', type='radio', name='mode', value='3')
            //- label.radio(for='pingpong') ping-pong  


        label.main options for this game mode
        br
        input#turnTime.two-digit.textinput(placeholder='10', value='10', type='number', max='30', min='3')
        span.medium seconds per turn

        div#play(type='submit') create room
      div#game_link.game_link

      p#waiting Generating game link.
  
block scripts
  script.
    username = "#{username}";
  script(type='text/javascript', src='/javascripts/start.js')
  script(type='text/javascript', src='/javascripts/nickname.js')
 