extends layout

block content
  
  div.bg#loginBg

  img(src="/images/logo_login.png")#logo_login(alt="Check with Mates")

  div#posRight
    h1 join room
    div#room-list
  
    h1 create new room
    div#form
      form#create_form(action='')
        input#nickname(placeholder='insert nickname', maxlength='15')
        div#play(type='submit') let's play
      div#game_link.game_link

      p#waiting Generating game link.
  
block scripts
  script(type='text/javascript', src='/javascripts/start.js')