doctype 5
html
  head
    - if (typeof(title) !== 'undefined')
      title #{title} | Check with Mates
    - else
      title Check with Mates
    meta(charset='utf-8')
    meta(name='robots', content='index, follow')
    meta(itemprop='name=Check with Mates')
    meta(name='description', content='Check with Mates is a massive multiplayer chess variant. Vote for the best moves and have fun with your friends.')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    meta(property='og:title', content='Check with Mates')
    meta(property='og:type', content='website')
    meta(property='og:url', content='http://checkwithmates.com/')
    meta(property='og:image', content='http://checkwithmates.com/images/OpenGraph.png')
    meta(property='og:description', content='Check with Mates is a massive multiplayer chess variant. Vote for the best moves and have fun with your friends.')

    link(rel='shortcut icon', href='/images/logo.png')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/javascripts/lodash.min.js')
    block head

    link(href='https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400italic|Open+Sans:400,700,800', rel='stylesheet', type='text/css')
    //if IE
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
  body
    #modal-mask
      p
        strong Esc: 
        |  OK
        br
        strong Enter: 
        |  OK
      #modal-window
        p#modal-message Message.
        a#modal-ok.button(href='#') OK

    #nickname-mask
      p
        strong Esc: 
        |  Cancel
        br
        strong Enter: 
        |  Change
      #nickname-window
        p#nickname-message Change my nickname to
        input#nickname-inside(placeholder='insert nickname', maxlength='15')
        a#nickname-ok.button(href='#') Change
        a#nickname-cancel.button.button--red(href='#') Cancel

    #offer-mask
      p
        strong Esc: 
        |  Decline
        br
        strong Enter: 
        |  Accept
      #offer-window
        p#offer-message Offer.
        a#offer-accept.button(href='#') Accept
        a#offer-decline.button.button--red(href='#') Decline
    

    #container_wrapper.clearfix
      #container.clearfix
        block content
        
    include footer.jade

    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/javascripts/jquery.stickyFooter.js')
    script(type='text/javascript', src='/javascripts/chess.js')
    script(type='text/javascript', src='/javascripts/app.js')
    block scripts