extends layout

block content

  include header.jade

  h1#profile-name !{name}

  div.ct-chart




  ul games summary
    li won ?
    li lost ?
    li draw ?

  ul games summary (white)
    li won ?
    li lost ?
    li draw ?

  ul games summary (black)
    li won ?
    li lost ?
    li draw ?
  
block scripts
  script.
    name = '#{name}'
  script(type='text/javascript', src='/javascripts/start.js')
  script(type='text/javascript', src='/javascripts/nickname.js')
  script(type = 'text/javascript', src = '/bower_components/chartist/dist/chartist.js')
  script(type='text/javascript', src='/javascripts/charts.js')