extends layout

block content

  include header.jade

  h1#profile-name !{name}

  p.info sorry, we are still creating this page.
  
  ul games summary
    li won ?
    li lost ?
    li draw ?

  ul games summary (white)
    li won ?
    li lost ?
    li draw ?

  ul games summary (black)
    li won ?
    li lost ?
    li draw ?
  
block scripts
  script(type='text/javascript', src='/javascripts/start.js')
  script(type='text/javascript', src='/javascripts/nickname.js')