.circle {
  transition: .25s;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -50.0%;
  margin-top: -50.0%;
  opacity: 0.5;
  transform: scale(1); }

.grow {
  transform: scale(0.25); }

.green {
  background-color: #67D0B5; }

.purple {
  background-color: #7B788F; }

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-family: 'Open sans', Arial, sans-serif;
  font-size: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

::-moz-selection {
  background: #060606;
  color: #fefefe;
  text-shadow: none; }

::selection {
  background: #060606;
  color: #fefefe;
  text-shadow: none; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

#profile {
  cursor: pointer; }

.two-digit {
  float: left;
  max-width: 60px;
  margin-right: 20px; }

.textinput {
  background-color: white;
  transition: 0.3s;
  color: #1F1F20;
  display: block;
  border-radius: 4px;
  outline: none;
  border: transparent 4px solid;
  text-indent: 20px;
  font-weight: 600;
  font-size: 13px;
  height: 43px; }

input#nickname {
  width: 196px;
  height: 43px;
  float: left;
  outline: none;
  border: transparent 4px solid; }

input#nickname-inside {
  width: 196px;
  height: 43px;
  float: left;
  outline: none;
  border: #67D0B5 2px solid;
  font-size: 13px;
  margin: 0 auto;
  margin-top: -36px; }

input#nickname:focus, input#nickname-inside:focus, input.textinput:focus {
  display: block;
  border: #67D0B5 4px solid; }

input#nickname.invalid {
  animation: invalid .5s;
  -webkit-animation: invalid .5s; }

.list-holder {
  display: block;
  float: left;
  width: 100%; }

div.list-item {
  display: table-row;
  position: relative;
  max-width: 121px;
  float: left;
  margin-top: 20px; }

input.radio {
  display: table-cell;
  float: left;
  margin-top: 20px; }

span.medium {
  font-family: 'Sorts Mill', serif;
  font-size: 18px;
  color: #67D0B5;
  line-height: 43px;
  font-style: italic;
  float: left; }

label.radio {
  margin-top: -16px;
  margin-left: 10px;
  font-style: italic;
  color: #67D0B5;
  padding-left: 20px;
  cursor: pointer;
  display: block; }

#profile-name {
  margin-top: 150px; }

.info {
  position: relative;
  color: #67D0B5; }

#room-name {
  width: 100%;
  float: left; }

label.radio:before {
  content: "";
  position: relative;
  display: inline;
  width: 24px;
  height: 24px;
  margin-right: 0;
  position: absolute;
  left: 0;
  background-color: white;
  border-radius: 12px;
  font-size: 60px;
  color: white;
  overflow: hidden;
  color: white; }

input[type=radio]:checked + label:before {
  transition: .6s;
  margin-top: 0;
  font-family: Arial, sans-serif;
  content: "\2022";
  color: #67D0B5;
  font-style: normal;
  text-align: center;
  line-height: 25px;
  text-indent: 0px;
  opacity: 1; }

#name-of-room {
  margin-top: 0 !important; }

input[type=radio] {
  display: none; }

label.main {
  font-family: 'Sorts Mill', serif;
  font-size: 18px;
  color: #67D0B5;
  line-height: 26px;
  text-decoration: underline;
  font-style: italic;
  float: left;
  margin-bottom: 10px;
  margin-top: 20px;
  width: 100%; }

#no_rooms {
  display: block;
  font-weight: 700;
  text-align: center;
  margin-top: 200px;
  color: #aca59a;
  font-family: 'Open sans', Arial, sans-serif;
  font-style: normal;
  font-size: 16px; }

#room-list {
  width: 306px;
  height: 420px;
  border-radius: 4px;
  background-color: #E5E3E3;
  margin-bottom: 60px;
  overflow-y: auto;
  margin-top: 21px; }

#room-list .separator {
  display: block;
  width: 50%;
  height: 1px;
  background-color: #9B9DA4;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 25%; }

#room-list a {
  font-family: 'Open sans', Arial, sans-serif;
  color: #261e26;
  font-size: 20px;
  text-align: center;
  width: 100%;
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
  padding: 10px 0 10px 0;
  margin: 0 0;
  transition: .2s; }

.disabled {
  pointer-events: none;
  opacity: 0.3; }

.valid {
  background-color: #C8F5E2 !important; }

.warned {
  opacity: 1 !important;
  transform: scale(1.1); }

.warn {
  transition: 2s;
  opacity: 0.5;
  background-color: #CC6582 !important;
  font-size: 0.9em !important;
  color: white;
  margin-bottom: 30px !important;
  text-transform: lowercase;
  height: auto !important;
  line-height: 18px !important;
  padding: 10px;
  pointer-events: none; }

#room-list a:hover {
  background-color: #dad7d2; }

#create-account {
  margin-top: 45px; }

#create_form {
  position: relative;
  width: 305px; }

#play {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline-style: none;
  /*IE*/
  display: block;
  transition: 0.3s;
  color: white;
  font-family: 'Sorts Mill Goudy', serif;
  font-style: italic;
  position: relative;
  width: 100%;
  height: 43px;
  background-color: #67D0B5;
  border-radius: 4px;
  font-size: 20px;
  line-height: 46px;
  text-align: center;
  cursor: pointer;
  float: right;
  margin-top: 20px; }

#play:hover {
  background-color: #40c4a2; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

.bg {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0 0;
  width: 100%;
  height: 100%;
  z-index: -1; }

.notification {
  position: absolute;
  height: 20px;
  z-index: 10; }

.votePiece {
  opacity: 0.25;
  position: absolute; }

#logo_init {
  position: relative;
  left: 50%;
  margin-left: -61px;
  margin-top: 46px;
  margin-bottom: 50px; }

#logo_login {
  position: absolute;
  left: 50%;
  margin-left: -310px;
  top: 40%;
  margin-top: -100px; }

footer, header, section {
  display: block; }

body, html {
  color: #424242;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  background: #3d3e42;
  background: -moz-linear-gradient(-45deg, #3d3e42 0%, #444249 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #3d3e42), color-stop(100%, #444249));
  background: -webkit-linear-gradient(-45deg, #3d3e42 0%, #444249 100%);
  background: -o-linear-gradient(-45deg, #3d3e42 0%, #444249 100%);
  background: -ms-linear-gradient(-45deg, #3d3e42 0%, #444249 100%);
  background: linear-gradient(135deg, #3d3e42 0%, #444249 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3e42', endColorstr='#444249', GradientType=1 ); }

body.ingame {
  background: #6d6881;
  background-color: #6d6881;
  background: #6d6881;
  background: -moz-linear-gradient(45deg, #6d6881 0%, #c8cedf 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #6d6881), color-stop(100%, #c8cedf));
  background: -webkit-linear-gradient(45deg, #6d6881 0%, #c8cedf 100%);
  background: -o-linear-gradient(45deg, #6d6881 0%, #c8cedf 100%);
  background: -ms-linear-gradient(45deg, #6d6881 0%, #c8cedf 100%);
  background: linear-gradient(45deg, #6d6881 0%, #c8cedf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d6881', endColorstr='#c8cedf', GradientType=1 ); }

a {
  font-size: 1rem;
  color: #299cad;
  text-decoration: underline; }

a:hover {
  color: #2eafc2;
  text-decoration: none;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

a:focus {
  outline: none; }

p {
  text-align: left;
  margin-bottom: 1em;
  font-size: 1rem; }

h1 {
  font-family: 'Sorts Mill Goudy', serif;
  font-style: italic;
  color: #67D0B5;
  font-size: 36px;
  margin-bottom: 20px; }

h1.knight {
  height: 122px;
  width: 122px;
  background: url("../images/knight.png") no-repeat;
  margin: 2em auto 0.5em auto; }

h2 {
  font-family: 'Sorts Mill Goudy', serif;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  color: #1F1F20;
  margin-bottom: 0.5em; }

h3 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 1em 0 0.5em 0;
  color: #2c2c2d; }

.alpha {
  font-size: 1.125rem; }

.center {
  text-align: center !important; }

.margin-fifty {
  margin: 50px 0; }

.last-origin {
  background: #c8eee4 !important; }

.last-target {
  background: #b5e8db !important; }

.count {
  position: relative;
  top: 0;
  left: 50px;
  font-size: 12px;
  width: 125%;
  height: 22px;
  background-color: red;
  border-radius: 11px;
  color: white;
  font-weight: normal;
  display: block;
  margin-bottom: -22px;
  line-height: 22px;
  opacity: 0.9; }

.blackCount {
  background-color: #111;
  color: #eee; }

.whiteCount {
  background-color: #eee;
  color: #111; }

.san {
  font-weight: bolder; }

#promotion-message {
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  color: #261e26;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 2px; }

#promotion-window {
  text-align: center;
  width: 304px;
  height: 348px;
  position: absolute;
  left: 50%;
  margin-left: -152px;
  top: 50%;
  margin-top: -124px;
  background-color: #ffffff;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.2); }

ul#promotion-choices {
  margin-left: 18px; }
  ul#promotion-choices > li {
    transition: 0.3s;
    margin-top: 8px;
    line-height: 45px;
    font-size: 20px;
    color: #67D0B5;
    font-style: italic;
    font-family: 'Sorts Mill Goudy', serif;
    float: left;
    display: inline-block;
    position: relative;
    width: 130px;
    height: 130px;
    background: #E3E3E3;
    box-shadow: inset 0px 1px 3px 0px rgba(127, 127, 127, 0.5); }
  ul#promotion-choices > li:hover {
    background-color: #261e26 !important; }
  ul#promotion-choices > li:nth-child(even) {
    margin-left: 8px; }
  ul#promotion-choices > li:nth-child(1), ul#promotion-choices > li:nth-child(4) {
    background: #EEEEEE; }
  ul#promotion-choices > li > .promotion-piece {
    font-family: Arial, sans-serif;
    font-size: 65px;
    color: #515151;
    line-height: 55px;
    font-style: normal;
    position: absolute;
    text-align: center;
    display: block;
    width: 100%; }
  ul#promotion-choices > li:hover > .promotion-piece {
    transition: 0.7s;
    transform: scale(1.1);
    color: white; }

#modal-mask, #offer-mask, #nickname-mask, #promotion-mask {
  display: none;
  cursor: pointer;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background: #444;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10; }
  #modal-mask > p, #offer-mask > p, #nickname-mask > p, #promotion-mask > p {
    color: #eee;
    margin: 2em; }
    #modal-mask > p strong, #offer-mask > p strong, #nickname-mask > p strong, #promotion-mask > p strong {
      color: #fff; }

#modal-window, #offer-window, #nickname-window {
  width: 420px;
  height: 180px;
  position: fixed;
  background: #fff;
  top: 50%;
  left: 50%;
  margin-left: -210px;
  margin-top: -90px;
  border: 8px solid #38383a;
  box-shadow: 0 10px 30px #333;
  cursor: auto;
  z-index: 15; }
  #modal-window p, #offer-window p, #nickname-window p {
    text-align: center;
    padding: 1.5em; }
  #modal-window .button:active, #offer-window .button:active, #nickname-window .button:active {
    top: auto;
    bottom: calc(1em + 1px); }

#modal-window .button {
  position: absolute;
  left: 50%;
  bottom: 1em;
  margin-left: -60px; }

#offer-window .button {
  position: absolute;
  bottom: 1em; }
#offer-window #offer-accept {
  right: 4em; }
#offer-window #offer-decline {
  left: 4em; }

#nickname-window .button {
  position: absolute;
  bottom: 1em; }
#nickname-window #nickname-ok {
  right: 4em; }
#nickname-window #nickname-cancel {
  left: 4em; }

.chat {
  text-decoration: none;
  color: #248a99;
  margin-right: 1em;
  line-height: 50px;
  float: right !important;
  cursor: pointer;
  font-weight: 600; }
  .chat:hover {
    color: #299cad; }
    .chat:hover .new-message {
      color: #d12521; }
  .chat img {
    vertical-align: middle; }
  .chat .new-message {
    color: #d12521;
    padding-right: 1em; }

.padright {
  margin-right: 40px; }

.unpadleft {
  margin-left: 4px !important; }

.right {
  float: right !important; }

.nav {
  display: block;
  float: left;
  margin-top: 39px;
  margin-left: 27px;
  line-height: 0.7em; }

.nav, .nav > a {
  color: #67D0B5 !important;
  font-size: 20px !important;
  font-style: italic !important;
  font-family: 'Sorts Mill Goudy', serif !important;
  text-decoration: none; }

a.nav {
  text-shadow: -1px 2px 0px #261e26, 1px 3px 0px #261e26;
  border-bottom: 1px #67D0B5 inset; }

a.nav:hover {
  color: #C8F5E2 !important;
  border-bottom: 1px #C8F5E2 inset; }

#logo_header {
  display: inline-block;
  margin-left: 40px;
  margin-top: 29px;
  float: left; }

header {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  width: 100%;
  height: 86px;
  margin-bottom: 256px;
  opacity: 1;
  background: #1F1F20;
  background: rgba(30, 30, 32, 0.8);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2); }

.clock {
  width: auto;
  min-width: 100%;
  height: 86px;
  font-size: 60px;
  font-weight: 700;
  position: relative;
  text-align: center;
  display: inline-block; }
  .clock li {
    width: 100%;
    display: inline-block;
    line-height: 82px;
    height: 100%;
    opacity: 1;
    position: absolute;
    left: 0; }
  .clock li.white {
    left: 0;
    color: #424242;
    background: #fff; }
  .clock li.black {
    right: 0;
    color: #fff;
    background: #39393B; }
  .clock li.ticking {
    z-index: 1;
    /*-webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    @include all-transition;*/ }

span#game-type {
  position: absolute;
  line-height: 50px;
  margin-left: 175px;
  opacity: 0.9;
  display: none; }

#posLeft {
  display: block;
  width: 314px;
  float: left;
  margin-left: 100px;
  margin-top: 150px; }

#posRight {
  display: block;
  width: 300px;
  float: right;
  margin-right: 100px;
  margin-top: 150px; }

#container_wrapper {
  max-width: 1024px;
  width: 100%;
  height: auto;
  padding: 0em 1em;
  margin: 0 auto;
  clear: both; }

#container {
  width: 100%;
  min-height: 600px;
  margin: 0px 0px 20px 0px;
  float: left; }

.player_holder {
  font-weight: 700;
  color: #807979;
  padding-top: 30px;
  font-size: 16px; }
  .player_holder li {
    padding-left: 16px; }
  .player_holder .lastMove {
    font-style: italic;
    font-family: 'Sorts Mill Goudy', serif;
    margin-right: 10px;
    float: right; }

.player_holder.black {
  color: white; }

#form fieldset {
  border: 0;
  text-align: right;
  margin-bottom: 1em;
  width: 80%; }
  #form fieldset input {
    margin-left: 1em;
    width: 100px;
    outline: none;
    height: 40px;
    line-height: 30px;
    padding-left: 1em;
    font-size: 1.125rem;
    color: #424242;
    border: 2px solid #2b222c;
    border-left: 4px solid #2eafc2; }
  #form fieldset label {
    position: relative; }
    #form fieldset label:before {
      position: absolute;
      content: 'Up to 50';
      top: 0;
      right: 2em;
      margin-top: -2.5em;
      font-size: 0.75rem; }

@keyframes invalid {
  0% {
    margin-left: 8px; }
  10% {
    margin-left: -8px; }
  30% {
    margin-left: 8px; }
  60% {
    margin-left: -8px; }
  100% {
    margin-left: 0px; } }
@-webkit-keyframes invalid /* Safari and Chrome */ {
  0% {
    margin-left: 8px; }
  10% {
    margin-left: -8px; }
  30% {
    margin-left: 8px; }
  60% {
    margin-left: -8px; }
  100% {
    margin-left: 0px; } }
input, button {
  font-family: 'Open Sans'; }

.game_link {
  display: block;
  width: 80%;
  height: 50px;
  line-height: 50px;
  background-color: transparent;
  color: pink;
  border: none;
  font-size: 10px; }

h5 {
  text-align: center;
  font-family: 'Sorts Mill', serif;
  font-style: italic;
  font-size: 13px;
  color: #6ADAB8;
  line-height: 18px;
  text-decoration: none;
  display: block;
  opacity: 0.8; }

.faded {
  text-align: center;
  opacity: 0.35;
  font-family: 'Sorts Mill', serif;
  font-style: italic;
  font-size: 13px;
  color: #67D0B5;
  line-height: 18px;
  text-decoration: none;
  display: inline-block;
  width: 100%; }

#joinnow {
  margin-top: 10px;
  margin-bottom: 16px; }

.faded:hover {
  opacity: 0.9; }

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline-style: none;
  /*IE*/ }

.fullwidth {
  width: 100% !important;
  height: 43px;
  margin-bottom: 8px;
  display: block; }

.inverted {
  /* Rectangle 19: */
  background: rgba(100, 204, 161, 0.1) !important;
  border: 1px solid #65CCA1 !important;
  border-radius: 3px !important;
  color: #67D0B5 !important; }

.inverted:hover {
  background: #67D0B5 !important;
  border: 1px solid #65CCA1 !important;
  border-radius: 3px !important;
  color: white !important; }

.button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline-style: none;
  /*IE*/
  display: block;
  transition: 0.3s;
  color: white;
  font-family: 'Sorts Mill Goudy', serif;
  font-style: italic;
  position: relative;
  background-color: #67D0B5;
  border-radius: 4px;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  cursor: pointer;
  width: 15%;
  height: 43px;
  color: white;
  cursor: pointer;
  float: right;
  position: relative; }

.button:hover {
  background: #7ad6be;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.button:active {
  top: -1px; }

a.button {
  width: 120px;
  line-height: 46px;
  text-align: center;
  text-decoration: none; }

a.button:hover {
  color: white; }

.resign, .rematch {
  margin-right: 10px; }

.button--red {
  background: #d12521;
  margin-right: 10px; }
  .button--red:hover {
    background: #de322e;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }

.rematch {
  display: none; }

p#waiting {
  font-family: 'Sorts Mill Goudy', serif;
  font-style: italic;
  font-size: 1.175rem;
  color: #54caac;
  width: 100%;
  text-align: center;
  margin: 10px 0px 0px 0px;
  display: none;
  float: left; }

footer {
  z-index: 5;
  font-size: 1rem;
  width: 100%;
  line-height: 1.5em;
  background: #FBF8FB;
  padding-bottom: 1.6em;
  padding-left: 1.4em; }
  footer #logo_footer {
    position: relative;
    display: block;
    left: 0;
    top: 0;
    margin-bottom: 2em; }
  footer p {
    font-weight: 700;
    font-size: 12px;
    color: #9B9DA4;
    margin-bottom: 0; }
  footer a {
    font-size: 12px;
    color: #67D0B5; }
  footer a:hover {
    color: #7b7365; }

#footer {
  margin: 0 auto;
  max-width: 960px;
  padding: 3em 2em 1em 2em; }

#sounds_label {
  width: 800px;
  height: 30px;
  line-height: 30px;
  display: block;
  margin: 0px 0px 5px 0px;
  float: left; }

h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.7rem;
  height: 0;
  line-height: 1em;
  font-style: italic;
  text-align: center;
  color: #261e26;
  padding-top: 14px; }

h4.black {
  color: white; }

.player_count {
  display: block;
  position: relative;
  width: auto;
  right: 0;
  height: 178px;
  overflow-y: auto;
  overflow-x: none;
  margin-top: -12px; }

.player_count.white {
  background-color: white; }

.player_count.black {
  background-color: #39393B; }

/* Chat */
.chat-wrapper {
  display: block;
  position: relative;
  width: auto;
  right: 0;
  height: 260px; }
  .chat-wrapper > span {
    font-size: .9rem;
    display: block; }
  .chat-wrapper .username {
    font-weight: bold; }

ul#chat {
  position: relative;
  top: 0;
  max-height: 188px;
  width: 100%;
  overflow-y: auto;
  list-style-type: none;
  margin-top: 12px; }
  ul#chat li {
    font-size: .9rem;
    padding: 10px;
    margin: 5px auto;
    width: 85%;
    border-radius: 4px 0 0 4px;
    position: relative;
    margin-left: 7px; }
    ul#chat li:before {
      position: absolute;
      content: '';
      top: 10px; }
  ul#chat li.black {
    background: #424242;
    color: #fff; }
  ul#chat li.white {
    background: #fff;
    color: #444; }
  ul#chat li.left {
    border-radius: 0 4px 4px 0;
    margin-left: 25px; }
  ul#chat li.left:before {
    left: 0;
    margin-left: -20px;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent; }
  ul#chat li.black.left:before {
    border-right: 20px solid #424242;
    top: 0;
    margin-left: -20px; }
  ul#chat li.white.left:before {
    border-right: 20px solid #fff;
    top: 0;
    margin-left: -20px; }
  ul#chat li.right:before {
    right: 0;
    margin-right: -20px;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent; }
  ul#chat li.black.right:before {
    border-left: 20px solid #424242;
    top: 0; }
  ul#chat li.white.right:before {
    border-left: 20px solid #fff;
    top: 0; }

.sendMessage input {
  width: 100%;
  padding: 15px 9px;
  border: none;
  outline: none;
  font-size: .9rem;
  text-indent: 10px;
  bottom: 0;
  position: absolute;
  width: 100%; }
.sendMessage input.black {
  background: #444;
  color: #fff; }
.sendMessage input.white {
  background: #fff;
  color: #444; }

#turnTime {
  text-indent: 15px; }

/* Captured pieces */
#captured-pieces {
  position: absolute;
  width: 100px;
  margin-left: -100px;
  font-size: 2rem;
  line-height: 2rem;
  height: 517px;
  overflow-y: auto; }
  #captured-pieces ul {
    width: 50px;
    min-height: 5px;
    float: left;
    display: block;
    text-align: center; }
    #captured-pieces ul li {
      list-style-type: none; }

/* Chessboard */
#board_moves_wrapper {
  width: 100%;
  max-width: 980px;
  min-height: 600px;
  margin-top: 100px;
  margin: 0 auto;
  margin-top: 200px; }

.team_info {
  overflow-x: hidden;
  overflow-y: auto;
  width: 230px;
  height: 518px;
  display: block;
  margin: 0; }

div#moves_left {
  float: left;
  background-color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.68); }

div#moves {
  float: right;
  background-color: #39393B;
  background: rgba(56, 56, 59, 0.5); }

#moves thead {
  font-family: 'Sorts Mill Goudy', serif;
  width: 270px;
  height: 3em;
  line-height: 3em;
  font-size: 1.225rem;
  color: #1F1F20;
  float: left;
  text-align: center; }

#moves thead th, #moves thead tr {
  width: 100%;
  text-align: center;
  float: left; }

#moves tbody tr {
  width: 270px;
  float: left; }

#moves tbody tr td {
  width: 105px;
  text-align: left;
  line-height: 20px;
  margin: 0 15px;
  float: left; }

#board_wrapper {
  float: left; }

.chess_board {
  border: 8px solid #38383a;
  border-radius: 2px;
  width: 500px;
  height: 500px;
  float: left; }
  .chess_board tr {
    width: 500px;
    height: 62.5px;
    float: left;
    display: block;
    overflow: hidden; }
    .chess_board tr td {
      width: 62.5px;
      height: 62.5px;
      line-height: 62.5px;
      text-align: center;
      background: #fefefe;
      display: block;
      float: left;
      overflow: hidden; }
      .chess_board tr td.moving {
        background: #9694a6 !important; }
      .chess_board tr td a {
        width: 62.5px;
        height: 62.5px;
        font-size: 3.5rem;
        color: #424242;
        text-decoration: none;
        display: block;
        cursor: pointer;
        position: absolute; }

.chess_board tr:nth-child(odd) td:nth-child(even),
.chess_board tr:nth-child(even) td:nth-child(odd) {
  background: #dad7d2; }

span.feedback {
  color: #424242;
  line-height: 28px;
  text-indent: 28px;
  margin-top: 1em;
  display: block;
  clear: left;
  float: left; }

.feedback-status {
  font-weight: bold; }

span.whitefeedback {
  background: url("../images/whiteking.png") 0% 50% no-repeat; }

span.blackfeedback {
  background: url("../images/blackking.png") 0% 50% no-repeat; }

span.promotion {
  line-height: 28px;
  text-indent: 28px;
  margin-top: 1em;
  display: block;
  float: right;
  display: none; }

.chess_board td.selected {
  background: #9694a6 !important; }

.profile {
  cursor: pointer; }

.textChat {
  max-width: 100%;
  display: block;
  overflow: hidden; }

#login-box, #signup-box {
  width: 238px;
  margin: 10% auto; }

/* Media queries */
@media only screen and (min-width: 760px) and (max-width: 900px) {
  header, #board_moves_wrapper {
    max-width: 760px; }

  #sounds_label {
    max-width: 530px; }

  #container_wrapper {
    max-width: 900px;
    padding: 1em 10px; }

  table#moves {
    margin-left: 0;
    float: right;
    height: 516px; }

  table#moves, #moves thead, #moves tbody tr {
    width: 200px; }

  #moves tbody tr td {
    width: 90px;
    margin: 0 5px; } }
@media only screen and (min-width: 1400px) {
  .chat-wrapper {
    display: block; } }
@media only screen and (max-width: 999px) {
  #captured-pieces {
    display: none; } }
@media only screen and (min-width: 530px) and (max-width: 759px) {
  header, #board_moves_wrapper, #sounds_label {
    max-width: 530px; } }
@media only screen and (max-width: 759px) {
  html {
    font-size: 14px; }

  #form fieldset {
    width: 100%;
    text-align: center; }
    #form fieldset label {
      display: block;
      line-height: 45px;
      padding-left: 0; }
      #form fieldset label:before {
        margin-left: -7em;
        margin-top: 0;
        right: auto; }

  span#game-type {
    display: none; }

  #container_wrapper {
    max-width: 759px;
    padding: 1em 5px; }

  span.feedback {
    float: right;
    clear: none; }

  table#moves {
    margin-left: 0;
    margin-top: 0.5em;
    height: 258px; } }
@media only screen and (max-width: 529px) {
  header, #board_moves_wrapper, #sounds_label {
    max-width: 470px; }

  input.game_link {
    font-size: 1rem; }

  ul.clock {
    width: 118px; }
    ul.clock li {
      width: 55px; }

  #container_wrapper {
    max-width: 529px;
    padding: 1em 5px; }

  .chess_board {
    border: 4px solid #38383a;
    width: 456px;
    height: 456px; }
    .chess_board tr {
      width: 456px;
      height: 57px; }
      .chess_board tr td {
        width: 57px;
        height: 57px;
        line-height: 57px; }
        .chess_board tr td a {
          width: 57px;
          height: 57px;
          font-size: 3.5rem; } }

/*# sourceMappingURL=style.css.map */
